@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  background-color: white;
  font-family: "Sulphur Point", sans-serif;
  /* font-family: "Rethink Sans", sans-serif; */
  overflow-x: hidden;
}

img {
  width: 100%;
}

/* Class for Title Effect */
.ml3 {
  line-height: 1;
}

/* Class for no resixe textarea */
.no-resize{
  resize: none;
}

/* Styles for input radios */

.containerRadio label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.containerRadio  label input {
  position: absolute;
  left: -9999px;
}

.containerRadio label input:checked + span {
  background-color: #e5e7eb;
  color: black;
}

.containerRadio label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #000000;
}

.containerRadio label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: black;
}

.containerRadio label span:hover {
  background-color: #f3f4f6;
}

.containerRadio label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #000000;
}

/* Styles for input files */

::file-selector-button {
  background-color: #f3f4f6;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

::file-selector-button:hover {
  background-color: black;
  color: white;
  transition: 0.4s ease-in-out all;
}
